/* Reset css to ensure browser consistency */
@import "reset.css";
@import "system-font-css/system-font.css";

body, html {
  font-size: 16px;
  color: white;
  font-family: system-ui;
}

/* Hide loading-wrapper */
.loading-wrapper {
  opacity: 0;
  transition: opacity 1s;
}

/* Main wrapper to ensure app is fullscreen */
.wrapper {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 2;

  opacity: 1;
  transition: opacity 1s;

  background: black;
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Header strip */
.header {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-shrink: 0;
}

/* Title within the heaer */
.header-title {
  font-size: 24px;
  font-weight: 300;
  margin-bottom: 20px;
}

/* Filter field to search for locations */
.filter-field {
  appearance: none;
  border: none;
  border-bottom: 1px dashed #53b8bd;
  background: black;
  padding: 5px 10px;
  font-size: 18px;
  outline: none;
  color: white;
  transition: opacity 200ms;

  &::placeholder {
    color: #3f7c7f;
  }

  &:focus {
    border-bottom: 1px solid white;
  }

  &:disabled {
    opacity: 0.2;
  }

  &:not(:disabled) {
    opacity: 1;
  }
}

/* Main content, whole page except header */
.content {
  display: flex;
  flex-grow: 1;
}

/* The result list, within content */
.list {
  width: 250px;
  background: #222;
  overflow: auto;
}

/* The google map itself, within content */
.map {
  background: #999;
  flex-grow: 1;
}

/* Simple home made loading spinner, which is not spinning:) */
/* Inspired by https://github.com/tobiasahlin/SpinKit but simpler */
.loading-spinner {
  position: relative;
  padding-top: 70px;
  text-align: center;
  font-size: 18px;
  font-weight: 300;

  &::before {
    content: '';
    position: absolute;
    top: 20px;
    left: 50%;
    margin-left: -10px;
    width: 20px;
    height: 20px;
    border-radius: 10px;
    background: #53b8bd;
    animation: pulse 1.6s infinite ease-out;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.7;
    transform: scale(0.2, 0.2);
  }

  100% {
    opacity: 0.0;
    transform: scale(3, 3);
  }
}

/* Display a message when we cannot load locations */
.loading-error {
  font-weight: 300;
  text-align: center;
  font-size: 20px;
  margin-top: 20px;
}

.loading-error-details {
  margin-top: 20px;
  font-size: 14px;
  font-weight: 400;
}

/* Result list items */
.list-item {
  line-height: 1.2em;
  cursor: pointer;
  padding: 10px;
  border-bottom: 1px solid #444;

  &:hover {
    background: #555;
  }
}

/* Displayed when the list is empty (no result) */
.list-empty {
  text-align: center;
  font-size: 18px;
  font-weight: 300;
  padding: 20px 10px;
  opacity: 0.9;
}
